doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    title Administrador - Gestionar Especialidades de Médico
    link(rel='stylesheet', href='/css/styleadm.css')
  body
    header
      h1 Gestión de Especialidades para #{medico.nombre} #{medico.apellido}

    // Mostrar mensaje de éxito si existe
    if successMessage
      p.success= successMessage

    // Lista de Especialidades actuales del médico
    h2 Especialidades Actuales
    if especialidadesMedico.length > 0
      ul
        each especialidad in especialidadesMedico
          li
            | #{especialidad.especialidad}
            form(method='POST', action=`/administrador/eliminar-especialidad/${medico.id_medico}`)
              input(type='hidden', name='id_especialidad', value=especialidad.id_especialidad)
              button(type='submit') Eliminar
    else
      p No tiene especialidades asignadas.

    // Formulario para agregar una nueva especialidad al médico
    h2 Agregar Especialidad
    form(method='POST', action=`/administrador/agregar-especialidad/${medico.id_medico}`)
      label(for='id_especialidad') Seleccionar Especialidad:
      select(name='id_especialidad' required)
        each especialidad in especialidadesDisponibles
          option(value=especialidad.id_especialidad) #{especialidad.especialidad}
      button(type='submit') Agregar Especialidad

    // Enlace para regresar
    a(href='/administrador') Volver a la página de administración
